@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html, body, div, span,header, main, footer, h1, h2, h3 ,h4 ,h5 ,h6, p, ul, li, a, nav, article, aside, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}

:root {
   /* --light: #d9fe83; */
   /* --dark: rgb(46, 88, 44); */
   --light: rgb(251, 235, 51);
   --dark: rgb(150, 164, 35);
}

body {
   font-family: 'Roboto', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* color: rgb(46, 88, 44); */
   color: var(--dark);
}

header {
   text-align: center;
   line-height: 70px;
   height: 70px;
   max-width: 1200px;
   width: 100%;
   color: rgb(178, 178, 178);
   box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .3);
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
}

main {
   max-width: 1200px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

/* WELCOME */

main .welcome-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-inline: 100px;
   padding-top: 150px;
}

.welcome-content-description {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 25px;
}

.welcome-content-description h1 {
   font-size: 2.3rem;
   font-weight: 700;
   width: 88%;
   color: var(--dark);
}

.welcome-content-description p {
   font-size: .9rem;
   line-height: 24px;
   font-weight: 300;
}

.welcome-content-description button, .daurulang-container button {
   border: transparent;
   padding: 12px 15px;
   /* background-color: #d9fe83; */
   background-color: var(--light);
   border-radius: 4px;
   color: inherit;
   cursor: pointer;
}

.welcome-content-image img {
   width: 340px;
}

/* LAYANAN */

.layanan-container, .keunggulan-container, .daurulang-container {
   width: 100%;
   padding: 100px 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 45px;
   text-align: center;
}

.layanan-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.layanan-header h2, .keunggulan-container h2 , .daurulang-description h2{
   font-size: 2.1rem;
   font-weight: 500;
   border-top: 3px solid var(--light);
   padding-inline: 10px;
   padding-top: 10px;
}

.layanan-header p {   
   font-weight: 300;
}

.layanan-content {
   display: flex;
   justify-content: space-between;
   gap: 50px;
}

.layanan-content .card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
   width: fit-content;
}
.layanan-content .card img {
   width: 270px;
   height: 70px;
   object-fit: cover;
   object-position: center;
   border-radius: 10px;
}

.layanan-content .card h3, .keunggulan-content .card h3 {
   font-size: 1.4rem;
   font-weight: 500;
}

.layanan-content .card p, .keunggulan-content .card p, .daurulang-description p {
   font-size: .8rem;
   line-height: 24px;
   font-weight: 300;
}

/* KEUNGGULAN */

.keunggulan-container {
   padding-top: 50px;
   background-color: rgb(245, 245, 245);
}

.keunggulan-content {
   display: flex;
   justify-content: space-between;
   gap: 120px;
}

.keunggulan-content .card {
   display: flex;
   gap: 20px;
}

.keunggulan-content .card .card-description {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   gap: 10px;
} 

.keunggulan-content .card .card-description h3 {
   font-weight: 500;
   color: rgb(77, 162, 71);
}

.keunggulan-content .card .card-description p {
   text-align: left;
}

.keunggulan-content .card i {
   font-size: 3.5rem;
}

/* DAUR ULANG */

.daurulang-container {
   display: flex;
   flex-direction: row;
}

.daurulang-image img {
   width: 250px;
}

.daurulang-description {
   display: flex; 
   flex-direction: column;
   align-items: left;
   text-align: left;
   gap: 15px;
}

.daurulang-description h2 {
   border-top: unset;
   font-size: 2.3rem;
   padding: unset;
}

.daurulang-description p {
   font-size: .9rem;
}
 
.daurulang-description button {
   margin-top: 10px;
   width: fit-content;
}
